/* Adobe Kuler Buoy Color Scheme: 1B2B32 37646F A3ABAF E1E7E8 B22E2F */

#row1{
	min-height: 15%;
	margin-bottom: 5%;
	width: 90%;
	height: 50px;
}

#title1{
	margin-left: 5%;
	float: left;
	font-size: 45px;
	position: absolute;
}

#navbar1{
	min-width: 40%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    padding-top: 10%;
    position: relative;

 }

#intro1{
	margin:5%;
	margin-top:10%;
	margin-left: 2%;
	max-width: 80%;
}

#logo1{
	position: fixed;
	top: 5px;
	right: 30px;
	border: 7px solid black;
	margin-bottom: 10%;

}

#footer1{

}

#imgLinks{

}

#newShopForm{
	border-width: 3px;
	border-style: dashed;
	border-radius: 8px;
	border-color: #37646F;
	max-width: 10%;
	top: -10%;
}

#shop-table{
	border-radius: 8px;
	border-width: 3px;
	border-style: solid;
	border-color: #37646F;
	position: relative;
	left: 30%;
}

body {
	background-color: #A3ABAF;
	font-family: 'Sigmar One', cursive;

}

h1{
	color: #1B2B32;
}

h3{
	color: #1B2B32;
}