/* Adobe Kuler Buoy Color Scheme: 1B2B32 37646F A3ABAF E1E7E8 B22E2F */
@import url(http://fonts.googleapis.com/css?family=Arimo:700);
#shop-table{
margin: 2%;
border: 1px solid black;
}

#shop-table td{
	border: 1px solid black;
}

#shop-table tr{
	border: 1px solid black;
}

#newShopFormTitle{
margin: 2%;
}

#newShopForm{
margin: 2%;
margin-top: -1%;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    background: #37646F;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 5px;
    font-size: 5em;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 30px;
    background: #37646F;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 5px;
    padding-top: 15px;
}

#navigation td{
	padding-right:25px;
	padding-left: 5px;
}

#contentwrap {
    width: 700px;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 5px;
    padding: 2px;
    width: auto;
    max-width: 900px;
}

#rightcolumnwrap {
    width: auto;
    max-width: 250px;
    float: left;
    margin: 0 auto;
}

#rightcolumn {
    background: #37646F;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 5px;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: auto;
    background: #37646F;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 5px;
}

body {
	background-color: #A3ABAF;
	font-family: 'Sigmar One', cursive;

}

h1{
	color: #1B2B32;
}

h3{
	color: #1B2B32;
}

#footerwrap2 {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer2 {
    height: auto;
    padding-top:5px;
    min-height: 140px;
    background: #37646F;
    border-radius: 10px;
    border: 3px solid #1B2B32;
    margin: 10px;
}


/*---------------------------------------Codepen Animation CSS by Paul Murphy, 3D Flip Box----------------------------*/

.cube {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  font-family: 'Sigmar One', cursive;
  font-size: 32px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: transform .33s;
  transform-style: preserve-3d;
}

.cube:hover {
	transform: rotateX(90deg);
}

.front, .bottom {
  height: 100px;
}

.front {
  transform: translateZ(50px);
}

.bottom {
  background: darken(#28ebff, 10%);
  transform: rotateX(-90deg) translateZ(-50px);
  font-size: .5em;
}
